<div *ngIf="article">
<form>
<ion-list>
  <ion-item>
    <ion-label position="stacked">Id</ion-label>
    <ion-input required type="text" [(ngModel)]="article.id" disabled name="id"></ion-input>
  </ion-item>
  <ion-item>
    <ion-img [src]="article.jetpack_featured_media_url" disabled name="jetpack_featured_media_url"></ion-img>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Date</ion-label>
    <ion-input required type="text" [(ngModel)]="article.date" disabled name="date"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Title</ion-label>
    <ion-input required type="text"   
      [(ngModel)]="article.title.rendered" disabled name="title"> . 
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Text</ion-label>
    <ion-textarea
      disabled name="content"     
      [innerHTML]="article.content.rendered">
    </ion-textarea>
  </ion-item>
</ion-list>
</form>
</div>