<ion-header no-border class="bar bar-subheader">
  <ion-toolbar mode="ios">
    <ion-title>
    Feed
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list lines="none">
    <ion-item *ngFor="let a of articles; let i = index">
      <ion-card routerLink="/tabs/articles/{{ a.id }}" routerDirection="forward">
        <ion-card-header>
          <ion-grid>
            <ion-row>
              <ion-col size="3"  class="date-label">
                <ion-row class="date">{{ a.date }}</ion-row>
              </ion-col>
              <ion-col size="9">
                <ion-row>
                  <ion-card-title>{{ a.title.rendered }}</ion-card-title>
                </ion-row>
              </ion-col> 
            </ion-row>
          </ion-grid>
        </ion-card-header>
        <ion-img [src]="a.jetpack_featured_media_url"></ion-img>
        <ion-card-content>
          <div [innerHTML]="a.excerpt.rendered"></div>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>